<ng-container *ngIf="(heroState$ | async) as state" [ngSwitch]="state.appState">
    <ng-container *ngSwitchCase="'APP_LOADING'">
        <mat-grid-list cols="1" rowHeight="80vh">
            <mat-grid-tile>
                <mat-spinner></mat-spinner>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
    <ng-container *ngSwitchCase="'APP_LOADED'">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
            <div fxFlex="50">
                <h1>{{ state.appData?.superhero }}</h1>
                <small>{{ state.appData?.alter_ego }}</small>
                <mat-divider></mat-divider>
                <img [src]="state.appData! | imagen" alt="{{ state.appData?.alter_ego }}">
            </div>
            <div fxFlex="50">
                <h1>{{ state.appData?.publisher }}</h1>
                <span>{{ state.appData?.alter_ego }}</span>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item>{{ state.appData?.first_appearance }}</mat-list-item>
                    <mat-list-item>{{ state.appData?.characters }}</mat-list-item>
                    <mat-list-item>{{ state.appData?.publisher }}</mat-list-item>
                </mat-list>
                <button type="button" mat-raised-button color="warn" [routerLink]="['/heroes', 'list']"
                    aria-label="Menu button">
                    <mat-icon mat-list-icon>undo</mat-icon> Return to hero list
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'APP_ERROR'">
        <mat-grid-list cols="1" rowHeight="80vh">
            <mat-grid-tile>
                <div class="text-center">
                    <div class="text-danger text-size-50 mb-35">
                        {{ state.error?.status }} {{ state.error?.statusText }}
                    </div>
                    <button type="button" mat-raised-button color="warn" [routerLink]="['/heroes', 'list']"
                        aria-label="Menu button">
                        <mat-icon mat-list-icon>undo</mat-icon> Return to hero list
                    </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
</ng-container>